body {
  margin: 0;
  padding: 0;
}

header {
  height: 64px;

  & .headerFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 95%;
    max-width: 1360px;
    margin: 0 auto;

    & h1 {
      font-size: 22px;
      display: inline-block;
      width: 316px;
    }
  }

  & .headerLeft {
    & img {
      width: 280px;
    }
    & span {
      position: absolute;
      top: 22px;
    }
  }

  & .headerRight {
    text-align: right;
    display: inline-block;
  }

  & .logout {
    right: 20px;
  }
}

section.main {
  width: 70%;
  min-width: 730px;
  margin: 0 auto;
  min-height: 360px;
}

@media only screen and (max-device-width: 730px) {
  section.main {
    width: 98%;
  }
}

#msgField {
  background-color: #1ae757;
  padding: 10px 0 10px 20px;
  width: 100%;
}
.msgAlert {
  background-color: #ff7a7a !important;
}

footer {
  width: 100%;

  & .footer_bar {
    background-color: #87eda6;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
}
