.addBtnField {
  margin: 30px 0 20px 0;
  text-align: center;
}

#addIsbn {
  border: 4px solid #008b00;
  background-color: #fff;
  border-radius: 8px;
  font-size: 18px;
  padding: 3px 10px;
  width: 18em;
}
#addIsbn:focus {
  background-color: #d7fcd7;
}
#addButton {
  font-size: 18px;
  border: 3px solid #008b00;
  background-color: #00b600;
  border-radius: 12px;
  color: #fff;
  width: 4em;
}

.bookScroll {
  & a {
    text-decoration: none;

    & .img_wrap {
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      height: 213px;
      width: 150px;
    }
  }
}
.img_wrap .caption {
  font-size: 1.1rem;
  text-align: center;
  padding-top: 80px;
  color: #fff;
}
.img_wrap {
  & .mask {
    width: 100%;
    height: 100%;
    position: absolute; /* 絶対位置指定 */
    top: 0;
    left: 0;
    opacity: 0; /* マスクを表示しない */
    background-color: rgba(0, 0, 0, 0.4); /* マスクは半透明 */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  & img {
    width: 100%;
    transition-duration: 0.5s;
  }
}
.img_wrap:hover {
  & .mask {
    opacity: 1; /* マスクを表示する */
  }
  & img {
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
}

#addButton {
  cursor: pointer;
}

#addForm {
  & .imageField {
    display: inline-block;
    width: 35%;
    & #imageUrl {
      width: 200px;
      height: 290px;
    }
  }
  & dl {
    display: inline-block;
    width: 60%;
    text-align: left;

    & > * {
      width: 100%;
    }
    & input {
      width: 300px;
    }
    & textarea {
      width: 300px;
      height: 50px;
    }
  }
}

/* モーダル用サンプル用 CSS start ================== */
/* モーダルウィンドウの表示非表示や表示される位置を制御する */
.modal_section {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* モーダルウィンドウ以外の外側部分、どの程度透過するか */
  background-color: rgba(0, 0, 0, 0.4) !important;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  /* モーダルウィンドウを表示するまでの時間 0.3秒に指定 */
  transition: all 0.3s ease;
  transition-property: opacity, pointer-events, visibility;

  /* クリックされた際にウィンドウ表示、非表示の切り替えを行う部分 */
  &.is-show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  & .formMsg {
    margin: 0;
    font-weight: bold;
  }
}

/* ウィンドウ全体のCSS */
.menu__content {
  width: 600px;
  padding: 8px 8px 16px;
  background: #dedede;
  text-align: center;
  border-radius: 5px;
}

/* Yes No 2つのボタンを横並べする */
.inButtonSetting {
  display: flex;
  justify-content: center;
}

/* Yes No ボタン自体の装飾 */
.modal_inButton {
  width: 150px;
  padding: 5px !important;
  margin-right: 10px;
  margin-left: 10px;
  border: solid 1px #aaa;
  background: #efefef;
  border-radius: 3px;
  cursor: pointer;
}
#cancel {
  color: #fff;
  background: #555;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -20px;
  right: -308px;
  width: 24px;
}
/* モーダル用サンプル用 CSS end  ================== */
