{% extends "layout.html" %}
        
{% block meta%}
<link rel="stylesheet"
    href="{{ url_for('static', filename='style/detail.css') }}">
{% endblock %}

{% block title %}
詳細 | {{ item.title }}
{% endblock %}

{% block head %}
<h1><a href="/">Flask | サンプル詳細ページ</a></h1>

{% endblock %}

{% block content %}
<section class="main">
    <div class="flex">
        <div class="imageField">
        {% if item.imageUrl %}
            <img src="{{ item.imageUrl }}" alt="{{ item.title }}" />
        {% else %}
            <img src="../static/image/common/noimageFull.png" alt="{{ item.title }}" />
        {% endif %}
        </div>
        <div class="contentField">
            <dl>
                <dt>タイトル</dt>
                <dd>{{ item.title }}</dd>
                <dt>出版社</dt>
                <dd>{{ item.publisher }}</dd>
                <dt>著者</dt>
                <dd>{{ item.author }}</dd>
                <dt>出版日</dt>
                <dd>{{ item.published }}</dd>
                <dt>詳細</dt>
                <dd class="fsize-20">{{ item.description }}</dd>
            </dl>
        </div>
    </div>
    <p>
        <a href="/">戻る</a> 
    </p>
</section>
{% endblock %}


{% block footer %}

{% endblock %}