{% extends "layout.html" %}

{% block meta%}
<link rel="stylesheet"
    href="{{ url_for('static', filename='style/index.css') }}">
{% endblock %}

{% block title %}
トップ
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <section class="main">
        <div class="addBtnField">
            <input id="addIsbn" type="text" name="isbn" placeholder="isbnコード" />
            <button id="addButton" typ="button" autofocus>検 索</button>
        </div>
        
        <h2>表紙一覧</h2>
        <div class="bookScroll">
        {% for val in items %}
            <a href="./detail/{{ val.id }}">
                <div class="img_wrap">
                {% if val.imageUrl %}
                    <img src="{{ val.imageUrl }}" alt="{{ val.title }}" />
                {% else %}
                    <img src="../static/image/common/noimageFull.png" alt="{{ val.title }}" />
                {% endif %}
                    <div class="mask">
                        <div class="caption">
                            {% print(val.title) if val.title|length < 16 else val.title[:14] + '…'  %}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>

        <h2>表紙スライダー</h2>
        <div class="splide bookSlider" role="group" aria-label="Splideの基本的なHTML">
            <div class="splide__track">
                <ul class="splide__list">
                {% for val in items %}
                    <li class="splide__slide">
                        <a href="./detail/{{ val.id }}">
                            <div class="img_wrap">
                            {% if val.imageUrl %}
                                <img src="{{ val.imageUrl }}" alt="{{ val.title }}" />
                            {% else %}
                                <img src="../static/image/common/noimageFull.png" alt="{{ val.title }}" />
                            {% endif %}
                                <div class="mask">
                                    <div class="caption">
                                        {% print(val.title) if val.title|length < 16 else val.title[:14] + '…'  %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

    </section>

    <section id="modalSection" class="modal_section">
        <!-- 表示される中身 -->
        <div class="menu__content">
            <span id="cancel" typ="button">×</span>
            <p class="formMsg">データがありません</p>
            <form action="add" id="addForm" method="POST">
                <div class="imageField">
                    <img id="imageUrl" src="" />
                    <input type="hidden" name="imageUrl" value="" />
                </div>
                <dl>
                    <dt>ISBNコード</dt>
                    <dd><input name="isbn" value="" /></dd>
                    <dt>タイトル</dt>
                    <dd><input name="title" value="" /></dd>
                    <dt>出版社</dt>
                    <dd><input name="publisher" value="" /></dd>
                    <dt>作者</dt>
                    <dd><input name="author" value="" /></dd>
                    <dt>出版日</dt>
                    <dd><input name="published" value="" /></dd>
                    <dt>詳細</dt>
                    <dd><textarea name="description" value="" ></textarea> </dd>
                </dl>
                <div class="buttons">
                    <button id="register" class="modal_inButton" typ="submit">登録</button>
                </div> 
            </form>
        </div>
    </section>

{% endblock %}

{% block footer %}
    <script src="../static/js/index.js"></script>
    <script>
        new Splide('.splide', {
            type: 'loop',
            perPage: 6,
            perMove: 1,
            gap: 20,
            autoplay: true,
            direction: 'rtl',
            breakpoints: {
                1200: {
                    perPage: 5,
                },
            }
        }).mount();
    </script>
{% endblock %}