{% extends "layout.html" %}
        
{% block title %}
サンプル
{% endblock %}

{% block head %}
<h1><a href="/">Flask サンプルトップページ</a></h1>
{% endblock %}

{% block content %}
    <section class="main">
        <h2></h2>
        <div class="bookScroll">
        {% for val in items %}
            <a href="./detail/{{val.id}}">
                <img src="{{val.thumbnail}}" alt="{{val.title}}" />
            </a>
        {% endfor %}
        </div>
        <h2>一覧</h2>
        <dl>
        {% for val in items %}
            <dt><a href="./detail/{{val.id}}">{{val.title}}</a></dt>
            <dd>{{val.author}}</dd>
        {% endfor %}
        <input id="addIsbn" type="text" name="isbn" value="4041099129" />
        <button id="addButton" typ="button">検索</button>
    </section>

    <section id="modalSection" class="modal_section">
        <!-- 表示される中身 -->
        <div class="menu__content">
            <span id="cancel" typ="button">×</span>
            <p class="formMsg">データがありません</p>
            <form action="add" id="addForm" method="POST">
                <div class="imageField">
                    <img id="thumbnail" src="" />
                    <input type="hidden" name="thumbnail" value="" />
                </div>
                <dl>
                    <dt>ISBNコード</dt>
                    <dd><input name="isbn" value="" /></dd>
                    <dt>タイトル</dt>
                    <dd><input name="title" value="" /></dd>
                    <dt>出版社</dt>
                    <dd><input name="publisher" value="" /></dd>
                    <dt>作者</dt>
                    <dd><input name="author" value="" /></dd>
                    <dt>出版日</dt>
                    <dd><input name="published" value="" /></dd>
                    <dt>詳細</dt>
                    <dd><textarea name="description" value="" ></textarea> </dd>
                </dl>
                <div class="buttons">
                    <button id="register" class="modal_inButton" typ="submit">登録</button>
                </div> 
            </form>
        </div>
    </section>

{% endblock %}

{% block footer %}
    <script src="../static/js/index.js"></script>
{% endblock %}