<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex nofolow">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='style/common.css') }}">

    {% block meta %}{% endblock %}

    <title>Book&times;Flask | {% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/image/common/favicon.ico" id="favicon">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/image/common/favicon.png">
</head>
<body>
    <header>
        <div class="headerFlex">
            <div class="headerLeft">
                <h1>
                    <a href="./" >
                        <img src="../static/image/common/logo03.png" alt="Book × Flask"/>
                    </a>
                </h1>
                {% if session['id'] %}
                    <span>ようこそ {{ session['id'] }} さん</span>
                {% endif %}
            </div>
        {% block head %}{% endblock %}
        
            <div class="headerRight">
            {% if request.path != '/login' %}
                <a class="logout" href="/logout">ログアウト</a>
            {% endif %}
            </div>
        </div>
    </header>

    <section class='info'>
        
        {% if msg %}
        <div id="msgField" class="{{ session['msgColor'] }}">
            {{ msg }}
        </div>
        {% endif %}
    </section>
    
    {% block content %}{% endblock %}

    <footer>
        {% block footer %}{% endblock %}
        <div class="footer_bar baseColor">
            copyright 2024 hogehoge
        </div>
    </footer>
    
</body>
</html>