{% extends "layout.html" %}

{% block meta%}
<link rel="stylesheet"
    href="{{ url_for('static', filename='style/login.css') }}">
{% endblock %}

{% block title %}
ログイン
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<section id="login">
    <form method="post" action='/login'>
        <h2>ログイン</h2>
        <img src="../static/image/common/logo01.png" alt="Book × Flask"/>
        <div>
            <span>ID</span><input type="text" name="id" autofocus required>
        </div>
        <div>
            <span>PASS</span><input type="password" name="password" required>
        </div>
        <button type="submit" value="Login">Login</button>  
    </form>
</section>
{% endblock %}


{% block footer %}

{% endblock %}